arm/**/*.mat
arm/**/*.dmr

arm64/**/*.mat
arm64/**/*.dmr

x86/**/*.mat
x86/**/*.dmr

arm/**/interface
arm64/**/interface
x86/**/interface

.gitignore
common/dev/*
*.csv
*.mat
common/*$*
common/\006*
common/*.bak
common/*.log
common/*.a
common/*.o